* {
  list-style: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

main {
    width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
    margin: auto;
  gap: 20px;
}

.inputSection {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

input {
  color: black;
  background-color: lightgray;
  border-radius: 6px;
  padding: 10px;
  width: 250px;
  border: none;
  font-weight: 600;
}

button {
  color: white;
  background-color: blue;
  border-radius: 6px;
  padding: 10px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}

.displayTodos {
  font-size: "24px";
  font-weight: 600;
  padding: 10px;
  display: "flex";
  flex-direction: "column";
  gap: "10px";
  width: 100%;
}

#todos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

li {
    color: black;
    background-color: lightgray;
    border-radius: 6px;
    padding: 10px;
    width: 450px;
    border: none;
    font-weight: 600; 
    text-align: left; 
    margin: auto;
}

.todoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-delete {
  display: flex;
  gap: 4px;
}

.delete {
  background-color: red;
}

.todoContent {
  padding: 4px;
}

.editable {
  background-color: white;
  padding: 4px;
  outline: auto;
}